header {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    background-color: var(--background-color);
    border-bottom: 2px solid var(--lighter-background-color);
    color: var(--contrast-color);
    position: fixed;
    z-index: 10;
}

.header-name {
    font-weight: 700;
    font-size: 1.3em;
    padding: 1em 0;
    text-decoration: none;
    color: var(--contrast-color);
}

/* .fa-slash-forward {
    margin-left: 3px;
}

.fa-slash-forward:before {
    content: '\2f';
} */

.menu-button {
    z-index: 10;
    border: 0;
    background-color: transparent;
    font-size: 1.5em;
    color: var(--contrast-color);
}

.navigation-bar {
    width: 100%;
    backdrop-filter: blur(10px);
    position: fixed;
    top: -100%;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    text-align: center;
    transition: .5s;
    text-decoration: none;
    z-index: 1;
}


.navigation-bar--active {
    top: 0;
}

.navigation-bar a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5em;
}

@media screen and (min-width:900px) {
    header {
        padding: 0em 15%;
    }

    .menu-button {
        display: none;
    }

    .navigation-bar {
        position: relative;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        gap: 3em;
        font-size: 0.867em;
    }

    .navigation-bar > a {
        padding: 1em 0;
        position: relative;
    }

    .navigation-bar > a:hover {
        color: var(--contrast-color);
    }

    .navigation-bar > a::before {
        content: "";
        display: block;
        position: absolute;
        height: 5px;
        width: 0%;
        background-color: var(--contrast-color);
        top: 0;
        transition: 0.2s;
    }

    .navigation-bar > a:hover::before {
        width: 100%;
    }
}