.container-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.5em 0;
    margin: 0 0em;
    text-align: center;
}

.orbit-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-align: center;
    max-width: 250px;
    margin: 0 3rem;
}

.skills-explanation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.skills-explanation-title {
    margin-bottom: 1em ;
}

.skills-explanation {
    width: 70%;
    margin-bottom: 2em;
}

.skills-logos {
    background-color: transparent;
    border: none;
}

.skills-logos > img {
    color: var(--lighter-background-color);
    transition: 0.5s;
    width: 3.5em;
}

.skills-logos > img:hover {
    transform: scale(1.2);
}

.orbit-skills {
    display: none;
}

@media screen and (min-width:850px) {
    .container-skills {
        height: 100vh;
        box-sizing: border-box;
    }

    .skills-explanation-container {
        display: none;
    }

    .skills-container {
        display: none;
    }

    .orbit-skills {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .circle {
        background-color: var(--lighter-background-color);
        border-radius: 50%;
        height: 500px;
        aspect-ratio: 1/1;
        display: grid;
        place-items: center;
        animation: spinning var(--time-animation) infinite linear
    }

    .center {
        position: absolute;
        background-color: var(--background-color);
        height: 280px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 1em;
        text-align: center;
    }

    .center-image {
        width: 4rem;
    }

    .center-text {
        height: 60px;
    }

    .orbit-image {
        position: absolute;
        animation: spinning var(--time-animation) infinite linear;
        animation-direction: reverse;
        width: 4rem;
        cursor: pointer;
    }

    .circle > img:nth-child(1) {
        position: absolute;
        translate: 12rem 0;
    }
    
    .circle > img:nth-child(2) {
        position: absolute;
        translate: 6rem 10.4rem;
    }
    
    .circle > img:nth-child(3) {
        position: absolute;
        translate: -6rem 10.4rem;
    }
    
    .circle > img:nth-child(4) {
        position: absolute;
        translate: -12rem 0;
    }
    
    .circle > img:nth-child(5) {
        position: absolute;
        translate: -6rem -10.4rem;
    }
    
    .circle > img:nth-child(6) {
        position: absolute;
        translate: 6rem -10.4rem;
    }

    .circle:hover, .circle:hover .orbit-image {
        animation-play-state: paused;
    }

    .orbit-image:hover {
        transition: 1s;
        scale: 1.2;
    }

    @keyframes spinning {
        100% {rotate: 360deg}
    }

}